<body>
    <img src="images/bg-nanotrasen.svg" class="background-image"/>
    <div class="top-bar">
        <div class="right-side">
            <a href="https://github.com/Sandstorm-Station/Sandstorm-Station-13"><i class="fa-brands fa-github"></i> GitHub</a>
            <a href="https://discord.gg/5dPDJU2xKN"><i class="fa-brands fa-discord"></i> Discord</a>
        </div>
    </div>
</body>