<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content.index.title %> </title>
<link rel="stylesheet" href="/css/styles.css">
<link rel="stylesheet" href="/css/all.css">
<link rel="icon" href="/images/icon.png">